@import url('https://fonts.googleapis.com/css?family=Inter');
@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    margin: 0;
}

.sticker-div {
    width: 80%;
    margin: auto;
}

#h1 {
    font-weight: 100;
    color: #8C97A4;
    font-family: Roboto;
    font-size: 20px;
}

hr {
    width: 80%;
    margin: auto;
    border: 2px solid #8BC7FF;
    ;
}

.product-div {
    width: 80%;
    margin: auto;
}

.product-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 160px;
    border-radius: 12px;
    border-radius: 5px;
    background-color: #8BC7FF;
    color: #1375E4;
    font-family: 'Mochiy Pop One';
    font-weight: 400;
    margin-bottom: 20px;
}

.Make-payment {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: 30px;
}

.pushable {
    width: 100%;
    margin: auto;
    background: #1375E4;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.Make-payments {
    display: block;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 1.2rem;
    background: #59CDFF;
    font-family: 'Mochiy Pop One';
    text-shadow: 0px 1px 0px #367DCA;
    color: white;
    transform: translateY(-6px);
}

.fas {
    color: red;
}

.sapne-waali {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sapne-waali a {
    font-family: 'Mochiy Pop One';
    color: #1375E4;
    margin-top: 5%;
    font-size: 18px;
}

.form {
    font-family: 'Inter';
    width: 80%;
    margin: auto;

}

label {
    display: block;
    color: #1375E4;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px;
}

input {
    width: 90%;
    display: block;
    border: 1px solid #8BC7FF;
    font-weight: 400;
    padding: 0 12px 0 12px;
    /* margin-top: 20px; */
}

input[type="text"],
input[type="email"],
input[type="number"] {
    font-size: 14px;
    height: 34px;
    border-radius: 8px;
}

::placeholder {
    color: #8BC7FF;
}

@media (min-width:568px) {
    form {
        display: grid;
        grid-template-columns: repeat(7 1fr);
        grid-template-rows: repeat(2 1fr);
        font-family: 'Inter';
        width: 80%;
        margin: auto;
    }

    .name {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #name {
        width: 145%;
        /* margin: 5px; */
    }

    .email {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .number {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #address1 {
        width: 97%;
    }

    .add-1 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #address2 {
        width: 97%;
    }

    .add-2 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .state {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .city {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .pincode {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    #city {
        width: 85%;
    }

    #pincode {
        width: 92%;
    }

    #state {
        width: 84%;
    }

    #email-id {
        width: 92%;
    }
}