body {
    margin: 0;
}
.container {
    display: grid;
    justify-content: center;
    padding: 20px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(9, 150px);
    gap: 30px;
}
.cell {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    position: absolute;
    backface-visibility: hidden;
    background-color: antiquewhite;
}
.parent {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.backCell {
    height: 150px;
    width: 150px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border: 1px solid black;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 150px);
    }
}
@media (max-width: 360px) {
    .container {
        grid-template-columns: repeat(1, 150px);
    }
}
@media (min-width: 1670px) {
    .container {
        grid-template-columns: repeat(3, 150px);
    }
}
.parent.flipped {
    transform: rotateY(180deg);
}