body {
  margin: 0;
}

.container {
  display: grid;
  justify-content: center;
  padding: 20px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(9, 150px);
  gap: 30px;
}

.cell {
  border: 1px solid rgb(20, 19, 19);
  height: 150px;
  width: 150px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* transition property is used for controling time of flipping card */
/* transform-style will help for showing the back side of card */
.containerTwo {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* transform: rotateY will help to rotate our back side card 180degree in y axis */
.backCell {
  height: 150px;
  width: 150px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: 1px solid rgb(19, 18, 18);
}

.img {
  width: 100%;
  height: 100%;
}

.text {
  font-size: 130px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}

/* In below design1 to design6, these radial-gradient property makes background designs on front card */
.design1 {
  background-image: radial-gradient(rgb(236, 53, 53) 15%,
      transparent 16%,
      transparent 49%,
      rgb(236, 53, 53) 50%,
      transparent 51%),
    radial-gradient(circle at top left,
      rgb(236, 53, 53) 10%,
      transparent 10%,
      transparent 39%,
      rgb(236, 53, 53) 40%,
      transparent 41%),
    radial-gradient(circle at top right,
      rgb(236, 53, 53) 10%,
      transparent 10%,
      transparent 39%,
      rgb(236, 53, 53) 40%,
      transparent 41%),
    radial-gradient(circle at bottom left,
      rgb(236, 53, 53) 10%,
      transparent 10%,
      transparent 39%,
      rgb(236, 53, 53) 40%,
      transparent 41%),
    radial-gradient(circle at bottom right,
      rgb(236, 53, 53) 10%,
      transparent 10%,
      transparent 39%,
      rgb(236, 53, 53) 40%,
      transparent 41%);
  background-size: 1em 1em;
  background-color: rgb(238, 233, 233);
}

.design2 {
  background-image: linear-gradient(135deg, #f594e3 25%, transparent 25%),
  linear-gradient(225deg, #f594e3 25%, transparent 25%),
  linear-gradient(315deg, #f594e3 25%, transparent 25%),
  linear-gradient(45deg, #f594e3 25%, transparent 25%);;
  background-size: 1em 1em;
  background-color: #ffffff;
}

.design3 {
  background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 50%),
    linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  background-color: #e66464;
  background-size: 1em 1em;
}

.design4 {
  background-image: linear-gradient(135deg, #7ECC49 25%, transparent 25%),
    linear-gradient(225deg, #7ECC49 25%, transparent 25%),
    linear-gradient(315deg, #7ECC49 25%, transparent 25%),
    linear-gradient(45deg, #7ECC49 25%, transparent 25%);
  background-size: 1em 1em;
  background-color: #ffffff;
}

.design5 {
  background-image: linear-gradient(45deg, #4f46e480 25%, transparent 21%),
    linear-gradient(315deg, #4f46e480 25%, transparent 21%),
    linear-gradient(45deg, #4f46e4 10%, transparent 11%),
    linear-gradient(315deg, #4f46e4 10%, transparent 11%),
    linear-gradient(135deg, #4f46e480 25%, transparent 21%),
    linear-gradient(225deg, #4f46e480 25%, transparent 21%),
    linear-gradient(135deg, #4f46e4 10%, transparent 11%),
    linear-gradient(225deg, #4f46e4 10%, transparent 11%),
    radial-gradient(#4f46e4 20%, transparent 21%);
  background-size: 1em 1em;
  background-color: #ffffff;
}

.design6 {
  background-image: repeating-radial-gradient(circle, rgb(4, 94, 4), transparent 20%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 3
}


/*This media query will make 2 columns when the max screen display should be 600px*/
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 150px);
  }
}

/*This media query will make 1 column when the max screen display should be 360px*/
@media (max-width: 360px) {
  .container {
    grid-template-columns: repeat(1, 150px);
  }
}

/*This media query will make 1 column when the max screen display should be 1670px*/
@media (min-width: 1670px) {
  .container {
    grid-template-columns: repeat(3, 150px);
  }
}

.containerTwo.flipped {
  transform: rotateY(180deg);
}