@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* *{
    border: 1px solid red;
} */

body {
  margin: 0;
  background-image: url(./assets/bg_small.png);
}

/* Logo */
.logo img {
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

/* Navigation Menu */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #1375E4;
  font-family: 'Mochiy Pop One';
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  /* margin: 5px auto; */
}

nav div:hover{
  background: #004CA1
}
nav div img {
  border-radius: 50%;
}

nav div p {
  margin: 0;
}

.heading {
  width: 85%;
  margin: auto;
}
/* 3D button */
.gallery {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  margin-top: 30px;
}

.call-to-action {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
}

.pushable {
  background: #1375E4;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 1.2rem;
  background: #59CDFF;
  font-family: 'Mochiy Pop One';
  text-shadow: 0px 1px 0px #367DCA;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* Alphabet Cards */
.container {
  display: grid;
  gap: 15px;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  grid-template-columns: repeat(2, minmax(150px, 300px));
  grid-template-rows: repeat(2, 1fr);
  margin-top: 30px;
}

.backCard {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* border: 5px solid black; */
}

.backCard p {
  text-align: center;
  font-size: 5em;
  font-family: 'Mochiy Pop One';
  margin: auto;
  text-shadow: 0px 4px 0px rgb(0, 0, 0, 0.45);
}

.frontCard {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 8%;
  box-shadow: 0px 6px 30px 5px lightblue;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.frontCard div {
  margin: 6px 6px 0px 6px;
}

.frontCard img {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 8%;
  /* border: 1px solid red; */
}

.frontCard p {
  color: #1F7AE0;
  font-family: 'Mochiy Pop One';
  text-align: center;
  font-size: 1.2em;
  margin: 6px;
}

.fa-icons::before {
  display: none;
}

.fa-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  padding-bottom: 10px;
  --fa-animation-iteration-count: 1;
  color: #1F7AE0;
  cursor: pointer;
}

.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 10%;
}

.card.flipped {
  transform: rotateY(180deg);
}

/* Design patterns for back of alphabet cards */
.pattern1 {
  background-image: url(./assets/designPatterns/pattern1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFB800;
  border-bottom: 5px solid #BF6800;
  color: #FF8A00;
}

.pattern2 {
  background-image: url(./assets/designPatterns/pattern2.svg);
  background-repeat: no-repeat;
  background-size: 250%;
  background-color: #A55FEF;
  border-bottom: 5px solid #60249F;
  color: #8030D4;
}

.pattern3 {
  background-image: url(./assets/designPatterns/pattern3.svg);
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: #59AFFF;
  border-bottom: 5px solid #1375E4;
  color: #1375E4;
}

.pattern4 {
  background-image: url(./assets/designPatterns/pattern4.svg);
  background-repeat: no-repeat;
  background-size: 250%;
  background-color: #F36291;
  border-bottom: 5px solid #DA2D65;
  color: #DA2D65;
}

.pattern5 {
  background-image: url(./assets/designPatterns/pattern5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F26335;
  border-bottom: 5px solid #D83400;
  color: #D83400;
}

.pattern6 {
  background-image: url(./assets/designPatterns/pattern6.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #36E1AE;
  /* background-color: #1BB486;  */
  border-bottom: 5px solid #007352;
  color: #007352;
}

/* Footer */
footer #tag {
  text-align: center;
  margin-top: 100px;
  font-family: 'Mochiy Pop One';
  font-size: 16px;
  color: #1375E4;
  /* border: 1px solid red; */
}
footer a { 
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
#footer-links {
  background-color: #1375E4;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  margin-top: 10px;
  position: absolute;
  width: 100%;
}

.social-media{
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.links{
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.social-media ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-top: 10px;
}

.social-media ul li {
  margin-right: 5px;
}

.social-media ul li img {
  border-radius: 20%;
}

.links ul {
  list-style: none;
  padding-left: 0;
}

.links ul li {
  margin-bottom: 15px;
}

.links ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
}

.social-media img:hover{
  cursor: pointer;
  opacity: 0.9;
}

/* Workshop Page */
.content{
  width: 90%;
  margin: auto;
}

h1{
  font-family: "Mochiy Pop One";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  color: #1375E4;
}

.content p {
  font-family: "Roboto";
  font-size: 16px;
  text-align: justify;
  text-justify: auto;
  color: #8C97A4;
}

.content-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.content-image p{
  margin: auto;
  color: #1375E4;
}
.content-image img{
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

#table-div {
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


th {
  background: #1375E4;
  color: white;
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 18px;
  padding: 10px 0px 10px 0px;
}

td{
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #1375E4;
  border-bottom: 1px solid #D9EBFF;
  padding: 20px 0px 20px 0px;
}

.register {
  display: block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 16px;
  background: #59CDFF;
  font-family: 'Mochiy Pop One';
  text-shadow: 0px 1px 0px #367DCA;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .register {
  transform: translateY(-2px);
}

/* Media query to change grid count and text size for different screen sizes */
@media (min-width:320px) {
  .container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .backCard p {
    font-size: 6.5em;
  }

  .fa-icons {
    font-size: 1.2em;
  }

  body {
    background-image: url(./assets/bg_small.png);
  }
}

@media (min-width:481px) {
  .container {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }

  .backCard p {
    font-size: 9em;
  }

  .fa-icons {
    font-size: 1.5em;
  }

  body {
    background-image: url(./assets/bg_small.png);
  }

  .frontCard p {
    font-size: 25px;
  }
}

@media (min-width:641px) {
  .container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  .backCard p {
    font-size: 13em;
  }

  body {
    background-image: url(./assets/bg_medium.png);
  }

  .fa-icons {
    font-size: 1.7em;
  }

  .frontCard p {
    font-size: 25px;
  }

  h1{
    font-size: 24px;
  }
  .content p {
    font-size: 20px;
  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 16px;
  }

  footer #tag {
    font-size: 18px;
  }
}

@media (min-width:961px) {
  .container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  .backCard p {
    font-size: 12em;
  }

  body {
    background-image: url(./assets/bg_medium.png);
  }

  .fa-icons {
    font-size: 1.7em;
    padding-bottom: 10px;
  }

  .frontCard p {
    font-size: 25px;
  }

  h1{
    font-size: 24px;
  }

  .content p {
    font-size: 20px;
  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 16px;
  }

  footer #tag {
    font-size: 18px;
  }
}

@media (min-width:1025px) {
  .container {
    grid-template-columns: repeat(3, minmax(330px, 1fr));
  }

  .backCard p {
    font-size: 13em;
  }

  body {
    background-image: url(./assets/bg_large.png);
  }

  .fa-icons {
    font-size: 2em;
    padding-bottom: 15px;
  }

  .frontCard p {
    font-size: 30px;
  }

  h1{
    font-size: 45px;
  }

  .content p{
    font-size: 26px;
  }

  th {
    font-size: 20px;
  }

  td {
    font-size: 18px;
  }

  footer #tag {
    font-size: 20px;
  }
}

@media (min-width:1281px) {
  .container {
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    gap: 20px;
  }

  .backCard p {
    font-size: 16em;
  }

  body {
    background-image: url(./assets/bg_large.png);
  }

  .fa-icons {
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .frontCard p {
    font-size: 35px;
  }

  h1{
    font-size: 45px;
  }

  .content p{
    font-size: 26px;
  }

  th {
    font-size: 20px;
  }

  td {
    font-size: 18px;
  }

  footer #tag {
    font-size: 20px;
  }
}
