@import url('https://fonts.googleapis.com/css?family=Mochiy Pop One');
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: 0;
  background-image: url(./assets/bg_small.png);
}

/* Logo */
.logo img {
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

/* Navigation Menu */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #1375E4;
  font-family: 'Mochiy Pop One';
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  /* margin: 5px auto; */
}

nav div img {
  border-radius: 50%;
}

nav div p {
  margin: 0;
}
/*................... body content.................... */
#container {
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.art-workshop {
  font-family: 'Mochiy Pop One';
  color: #1375E4;
}

#workshop-image img {
  width: 100%;
}

.upcoming-text {
  font-family: 'Mochiy Pop One';
  color: #1375E4;
  margin-top: 60px;
}

/* .............Upcoming workshop table */
table {
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  min-height: 200px;
}

#tr-row1 {
  background-color: #1375E4;
  font-family: Inter;
  color: #FFFFFF;
  min-height: 200px;
  font-size: 1em;
  font-weight: 400;
}

.table-tr {
  font-family: Roboto;
  font-size: 0.8em;
  color: #1375E4;
  border-bottom: 1px solid #D9EBFF
}

td div {
  margin: auto;
  margin-top: 10px;
}

td div button {
  background: #1375E4;
  border-radius: 20px;
  border: none;
  padding: 0;

}

td div button span {
  display: block;
  padding: 2px 24px;
  border-radius: 12px;
  font-size: 0.9em;
  background: #59CDFF;
  font-family: 'Mochiy Pop One';
  color: white;
  transform: translateY(-6px);
}

.lorem{
  font-family: Roboto;
  color: #8C97A4;
}

.fas {
  color: red;
}

.sapne-waali {
  font-family: 'Mochiy Pop One';
  color: #1375E4;
  margin-top: 4.5em;
 width: 100%;
 text-align: center;
}

/*... ............footer............... */
footer {
  background-color: #1375E4;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  margin-top: 20px;
  position: absolute;
  width: 100%;
}

.social-media,
.links {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.social-media {
  padding-top: 10px;
}

.social-media ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-top: -10px;
}

.social-media ul li {
  margin-right: 5px;
}

.social-media ul li img {
  border-radius: 20%;
}

.links ul {
  list-style: none;
  padding-left: 0;
}

.links ul li {
  margin-bottom: 15px;
}

.links ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
}

.social-media img:hover {
  cursor: pointer;
  opacity: 0.9;
}

/*.................... Media queries..................... */
@media (min-width: 320px) {
  .logo img {
    height: 50px;
  }

  .sapne-waali {
    margin-left: 1.5em;
  }
}

@media (min-width:375px) {
  .sapne-waali {
    margin-left: 3em;
  }
}

@media (min-width:425px) {
  table {
    margin: auto;
    width: 100%;
  }

  .logo img {
    min-height: 60px;
  }

  .table-tr td button {
    height: 50px;
  }

  td div button span {
    padding: 8px 24px;
  }

  .table-tr {
    font-size: 0.9em;
  }

  .sapne-waali {
    margin-left: 4.8em;
  }
}

@media(min-width:768px) {
  table {
    margin: auto;
    width: 100%;
  }

  .logo img {
    min-height: 100px;
  }

  .table-tr td button {
    min-height: 65px;
    width: 95%;
  }

  .table-tr {
    font-size: 1.5em;
  }

  #tr-row1 {
    font-size: 1.9em;
  }

  #text-container p {
    font-size: 1.2em;
  }

  td div button span {
    padding: 22px 20px;
  }

  td div button {
    width: 20%;
  }

  .sapne-waali {
    margin-left: 8em;
    font-size: 1.5em;
  }
  .art-workshop {
    font-size: 1.6em;
  }
  .upcoming-text {
    font-size: 1.6em;
  }
  .lorem{
    font-size: 1.5em;
  }
}

@media(min-width:1024px) {
  .sapne-waali {
    margin-left: 14em;
  }
}

@media(min-width:1228px) {
  .sapne-waali {
    margin-top: 6em;
    margin-left: 20em;
  }
  .table-tr td button {
    width: 60%;
  }
}